/*
 Chris Lamberts Pixel Art Maker Stylesheet (/stylesheet.css)
*/

body {
  text-align: center;
}


h1 {
  font-family: Monoton;
  font-size: 8vh; /* Is this the best idea for mobile?? */
  margin:  0;
}

h2 {
  margin:  2vh 0 1vh 0;
}

table {
  margin: auto;
  border-collapse: collapse;
}

table tr td{
  border: 1px solid grey;
}

.pixel {
  background-color: #fff;
}
